# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of popular libraries for Data Science
* List of development environment open source tools used in Data Science
* Examples of evaluating arithmetic expressions in Python using Jupyter Notebook

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. matplotlib
4. PyTorch

|Data Science Tools|
|-----|
|RStudio|
|Jupyter Notebook|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: 
Amanda Sobczak